<div class="container">
  <h3 class="d-flex justify-content-center">My Angular Project</h3>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="home-screen"
        class="m-1 btn btn-ligth btn-outline-primary" Button>Home</button>
      </li>
      <li class="nav-item">
        <button routerLink="medical-histories"
        class="m-1 btn btn-ligth btn-outline-primary" Button>Medical Histories</button>
      </li>
    </ul>
  </nav>
  
  <router-outlet></router-outlet>
</div>